swagger: '2.0'
info:
  version: 1.0.0
  title: Trustgrid Management API
schemes:
  - https
host: api.trustgrid.io
paths:
  /alert:
    get:
      deprecated: true
      description: |-
        List events, newest first. This is deprecated; use `/v2/event` instead.

        ---

        Requires `alerts::read` permission.
      parameters:
        - description: Start time (unix timestamp) to query from
          in: query
          name: timestamp
          type: number
        - description: Limit number of alerts to return
          in: query
          name: limit
          type: number
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Alert'
            type: array
      tags:
        - Alerts
  /alert/{nodeID}:
    get:
      description: |-
        List events for a node (appliance or agent), newest first

        ---

        Requires `alerts::read` permission.
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Alert'
            type: array
      tags:
        - Alerts
    parameters:
      - description: Node ID
        in: path
        name: nodeID
        required: true
        type: string
  /audit/download/config:
    get:
      description: |-
        Download configuration change audits

        ---

        Requires `audits::read:config` permission.
      parameters:
        - description: ID for the item to audit. If specified, must include itemType.
          in: query
          name: itemID
          type: string
        - description: Type of item to audit, e.g., Node or Cluster. If specified, must include itemID
          in: query
          name: itemType
          type: string
        - description: Start time (unix timestamp) to query from
          in: query
          name: timestamp
          type: string
        - description: End time (unix timestamp) to query to
          in: query
          name: eTime
          type: string
        - description: Audit type to filter (create, delete, change, or action)
          in: query
          name: auditEvent
          type: string
        - description: IP address filter
          in: query
          name: ip
          type: string
        - description: User name filter
          in: query
          name: user
          type: string
        - description: Details text filter
          in: query
          name: details
          type: string
      produces:
        - text/csv
      responses:
        '200':
          description: OK
      tags:
        - Audit
  /audit/download/node:
    get:
      description: |-
        Download node (appliance or agent) audits

        ---

        Requires `audits::read:node` permission.
      parameters:
        - description: Start time (unix timestamp) to query from
          in: query
          name: timestamp
          type: string
        - description: Node FQDN
          in: query
          name: FQDN
          type: string
      produces:
        - text/csv
      responses:
        '200':
          description: OK
      tags:
        - Audit
  /audit/download/user:
    get:
      description: |-
        Download authentication audits

        ---

        Requires `audits::read:user` permission.
      produces:
        - text/csv
      responses:
        '200':
          description: OK
      tags:
        - Audit
  /audit/tail/config:
    get:
      description: |-
        List configuration change audits

        ---

        Requires `audits::read:config` permission.
      parameters:
        - description: ID for the item to audit. If specified, must include itemType.
          in: query
          name: itemID
          type: string
        - description: Type of item to audit, e.g., Node or Cluster. If specified, must include itemID
          in: query
          name: itemType
          type: string
        - description: Start time (unix timestamp) to query from
          in: query
          name: timestamp
          type: string
        - description: End time (unix timestamp) to query to
          in: query
          name: eTime
          type: string
        - description: Audit type to filter (create, delete, change, or action)
          in: query
          name: auditEvent
          type: string
        - description: IP address filter
          in: query
          name: ip
          type: string
        - description: User name filter
          in: query
          name: user
          type: string
        - description: Details text filter
          in: query
          name: details
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              description: ConfigChange
              properties:
                auditType:
                  description: Type of change
                  enum:
                    - change
                    - create
                    - delete
                    - action
                  type: string
                ip:
                  description: IP address of the client that initiated the change
                  example: 44.44.44.44
                  type: string
                itemId:
                  description: Unique ID of the item that was changed
                  example: 19084f81-5668-41ee-adbe-295e4c65531a
                  type: string
                itemType:
                  description: Type of the item that was changed
                  example: Node
                  type: string
                message:
                  description: Message describing the change
                  example: Node license created
                  type: string
                timestamp:
                  description: Unix timestamp when the change happened
                  example: 1729533326
                  type: string
                uid:
                  description: Unique ID of the change
                  example: 8845f684-4ffe-4b01-a62f-5619a7eae486
                  type: string
                userName:
                  description: User name of the client that initiated the change
                  example: admin@trustgrid.io
                  type: string
              type: object
            type: array
      tags:
        - Audit

  /audit/tail/flow_logs:
    get:
      deprecated: true
      description: |-
        List recent flow logs. This is deprecated; use `/v2/audit/flow-logs` instead.

        ---

        Requires `audits::read:flows` permission.
      parameters:
        - description: Unix timestamp for the start of the log window
          in: query
          name: sTime
          type: number
        - description: Unix timestamp for the end of the log window
          in: query
          name: eTime
          type: number
        - description: Comparison operator for the end of the log window
          enum:
            - eq
            - ne
            - gt
            - gte
            - lt
            - lte
          in: query
          name: eTimeOp
          type: string
        - description: IP protocol
          in: query
          name: protocol
          type: string
        - description: Source IP address
          in: query
          name: srcIp
          type: string
        - description: Destination IP address
          in: query
          name: dstIp
          type: string
        - description: Source port
          in: query
          name: srcPort
          type: number
        - description: Comparison operator for the source port
          enum:
            - eq
            - ne
            - gt
            - gte
            - lt
            - lte
          in: query
          name: srcPortOp
          type: string
        - description: Destination port
          in: query
          name: dstPort
          type: number
        - description: Comparison operator for the dest port
          enum:
            - eq
            - ne
            - gt
            - gte
            - lt
            - lte
          in: query
          name: dstPortOp
          type: string
        - description: Maximum number of results to return
          in: query
          name: limit
          type: number
        - description: Source node name
          in: query
          name: srcNode
          type: string
        - description: Dest node name
          in: query
          name: dstNode
          type: string
        - description: Flow logging node ID
          in: query
          name: node
          type: string
        - description: When true, newer flow logs will be listed first
          in: query
          name: reverse
          type: boolean
        - description: If provided, a flow must match at least one of the TCP flags provided. Decimal encoded, see flow log TCP flag encoding.
          in: query
          type: array
          items:
            type: number
          name: tcpFlags
        - description: Continuation cursor from previous query
          in: query
          name: cursor
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          headers:
            x-cursor:
              description: Continuation cursor for the next query
              type: string
          schema:
            items:
              description: FlowLog
              properties:
                activityID:
                  description: Threat Intelligence activity ID
                  example: 9aa2bbc3-4265-475b-b977-c94b1ee25a1f
                  type: string
                destBytes:
                  description: Destination bytes transferred
                  example: 100
                  type: number
                destIP:
                  description: Destination IP address
                  example: 1.1.1.1
                  type: string
                destNode:
                  description: Destination node name
                  example: mynode
                  type: string
                destPort:
                  description: Destination port
                  example: 1234
                  type: number
                endTime:
                  description: Start time of the flow
                  example: '2022-11-01T22:46:02.730Z'
                  type: string
                protocol:
                  description: Protocol
                  enum:
                    - TCP
                    - UDP
                    - ICMP
                    - UNKNOWN
                  example: TCP
                  type: string
                sourceBytes:
                  description: Source bytes transferred
                  example: 100
                  type: number
                sourceIP:
                  description: Source IP address
                  example: 2.2.2.2
                  type: string
                sourceNode:
                  description: Source node name
                  example: mynode
                  type: string
                sourcePort:
                  description: Source port
                  example: 1234
                  type: number
                startTime:
                  description: Start time of the flow
                  example: '2022-11-01T22:46:01.765Z'
                  type: string
                tcpFlags:
                  description: |-
                    TCP Flags encoded in hex:
                    * 0x01 - FIN
                    * 0x02 - SYN
                    * 0x04 - RST
                    * 0x08 - PSH
                    * 0x10 - ACK
                    * 0x20 - URG
                  example: '00100001'
                  type: string
                ztnaAppID:
                  description: ZTNA application ID
                  example: 9aa2bbc3-4265-475b-b977-c94b1ee25a1f
                  type: string
                ztnaSessionID:
                  description: ZTNA application ID
                  example: 9aa2bbc3-4265-475b-b977-c94b1ee25a1f
                  type: string
              type: object
            type: array
      tags:
        - Audit
  /audit/tail/node:
    get:
      description: |-
        List node (appliance or agent) audits

        ---

        Requires `audits::read:node` permission.
      parameters:
        - description: Start time (unix timestamp) to query from
          in: query
          name: timestamp
          type: string
        - description: Node FQDN
          in: query
          name: FQDN
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Audit
  /audit/tail/user:
    get:
      description: |-
        List authentication audits

        ---

        Requires `audits::read:user` permission.
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Audit
  /cluster:
    get:
      description: Get all clusters
      parameters:
        - description: If specified, the nodes will return with their associated configuration.
          in: query
          name: withConfig
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ClusterModel'
            type: array
      tags:
        - Cluster
    post:
      consumes:
        - application/json
      description: |
        Create a cluster
      parameters:
        - in: body
          name: cluster
          schema:
            $ref: '#/definitions/CreateClusterModel'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
  /cluster/{clusterFQDN}:
    delete:
      description: Delete a cluster
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
    get:
      description: Get a cluster
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ClusterModel'
        '404':
          description: Cluster not found
      tags:
        - Cluster
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    put:
      consumes:
        - application/json
      description: Update a cluster
      parameters:
        - in: body
          name: ClusterModel
          required: true
          schema:
            $ref: '#/definitions/ClusterModel'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
  /cluster/{clusterFQDN}/active/{nodeID}:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Designate the specified node as the active cluster member
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster

  /cluster/{clusterFQDN}/config/connectors:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    put:
      consumes:
        - application/json
      description: |
        Update connectors configuration for a cluster

        ---

        Requires `node::configure::connectors` permissions
      parameters:
        - description: Config body
          in: body
          name: config
          required: true
          schema:
            $ref: '#/definitions/ConnectorConfig'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
    delete:
      consumes:
        - application/json
      description: |
        Delete the connector config for a cluster

        ---

        Requires `node::configure::connectors` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Cluster


  /v2/cluster/{clusterFQDN}/config/connectors:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    post:
      consumes:
        - application/json
      description: |
        Add a connector to a cluster. Requires V2 connector config.

        ---

        Requires `node::configure::connectors` permissions
      parameters:
        - description: Connector
          in: body
          name: connector
          required: true
          schema:
            $ref: '#/definitions/EdgeConnector'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster

  /v2/cluster/{clusterFQDN}/config/connectors/upgrade:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    post:
      consumes:
        - application/json
      description: |
        Upgrade a cluster's connector config to V2.

        ---

        Requires `node::configure::connectors` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster

  /v2/cluster/{clusterFQDN}/config/connectors/{connectorID}:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
      - description: Connector ID
        in: path
        name: connectorID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |
        Update a connector on a cluster. Requires V2 connector config.

        ---

        Requires `node::configure::connectors` permissions
      parameters:
        - description: Connector
          in: body
          name: connector
          required: true
          schema:
            $ref: '#/definitions/EdgeConnector'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
    delete:
      consumes:
        - application/json
      description: |
        Delete a connector from a cluster. Requires V2 connector config.

        ---

        Requires `node::configure::connectors` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Cluster


  /cluster/{clusterFQDN}/config/network:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    put:
      consumes:
        - application/json
      description: |
        Update network configuration for a cluster

        ---

        Requires `node::configure:network` permissions
      parameters:
        - description: Network Config
          in: body
          name: config
          required: true
          schema:
            properties:
              acls:
                items:
                  properties:
                    action:
                      enum:
                        - allow
                        - drop
                        - reject
                      type: string
                    description:
                      type: string
                    dest:
                      description: Destination IP CIDR
                      type: string
                    line:
                      description: Line number
                      maximum: 32768
                      minimum: 1
                      type: number
                    ports:
                      description: Port or port range
                      type: string
                    protocol:
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                      type: string
                    source:
                      description: Source IP CIDR
                      type: string
                  required:
                    - protocol
                    - source
                    - dest
                    - action
                  type: object
                type: array
              darkMode:
                type: boolean
              forwarding:
                type: boolean
              interfaces:
                items:
                  properties:
                    cloudRoutes:
                      items:
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          route:
                            description: Route CIDR
                            example: 192.168.10.0/24
                            type: string
                        type: object
                      type: array
                    clusterIP:
                      description: Cluster IP
                      type: string
                    clusterRouteTables:
                      items:
                        description: Cluster route tables
                        type: string
                      type: array
                    clusterRoutes:
                      items:
                        description: Cluster routes
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          route:
                            description: Route CIDR
                            example: 192.168.10.0/24
                            type: string
                        required:
                          - route
                        type: object
                      type: array
                    description:
                      description: Interface description
                      example: My interface
                      type: string
                    dhcp:
                      default: false
                      description: Enable DHCP
                      example: false
                      type: boolean
                    dhcpPool:
                      description: DHCP pool
                      type: string
                    dns:
                      items:
                        description: DNS servers
                        type: string
                      type: array
                    duplex:
                      description: Interface duplex
                      enum:
                        - full
                        - half
                      type: string
                    gateway:
                      description: Gateway IP
                      type: string
                    ip:
                      description: Interface IP
                      type: string
                    mode:
                      description: Interface mode
                      enum:
                        - auto
                        - manual
                      type: string
                    mtu:
                      description: MTU
                      example: 1500
                      maximum: 9001
                      minimum: 1300
                      type: number
                    nic:
                      description: Network interface name
                      example: eth0
                      type: string
                    routes:
                      items:
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          next:
                            description: Next hop
                            example: 192.168.10.10
                            type: string
                          route:
                            description: Route CIDR
                            example: 192.168.10.0/24
                            type: string
                        required:
                          - route
                        type: object
                      type: array
                    speed:
                      description: Interface speed
                      type: number
                    subInterfaces:
                      items:
                        properties:
                          description:
                            description: Interface description
                            example: My interface
                            type: string
                          ip:
                            description: sub-interface IP
                            type: string
                          routes:
                            items:
                              properties:
                                description:
                                  description: Route description
                                  example: My route
                                  type: string
                                next:
                                  description: Next hop
                                  example: 192.168.10.10
                                  type: string
                                route:
                                  description: Route CIDR
                                  example: 192.168.10.0/24
                                  type: string
                              required:
                                - route
                              type: object
                            type: array
                          vlanID:
                            default: 1
                            description: VLAN ID
                            example: 1
                            maximum: 4094
                            minimum: 1
                            type: number
                          vrf:
                            description: VRF name
                            example: default
                            type: string
                        required:
                          - vlanID
                          - ip
                        type: object
                      type: array
                    virtual:
                      default: false
                      description: Whether the interface is virtual
                      example: false
                      type: boolean
                    vrf:
                      description: VRF name
                      example: default
                      type: string
                  required:
                    - nic
                  type: object
                type: array
              nats:
                items:
                  properties:
                    description:
                      description: NAT description
                      type: string
                    dest:
                      description: NAT destination IP CIDR
                      type: string
                    masquerade:
                      type: boolean
                    source:
                      description: NAT source IP CIDR
                      type: string
                    toDest:
                      description: Translated dest IP CIDR
                      type: string
                    toSource:
                      description: Translated source IP CIDR
                      type: string
                  type: object
                type: array
              routes:
                items:
                  properties:
                    description:
                      type: string
                    dest:
                      type: string
                    dev:
                      type: string
                    metric:
                      description: Route metric
                      maximum: 200
                      minimum: 1
                      type: number
                    via:
                      description: Next hop IP address
                      type: string
                  required:
                    - dest
                  type: object
                type: array
              rules:
                items:
                  properties:
                    action:
                      enum:
                        - accept
                        - drop
                        - reject
                        - forward
                        - dnat
                      type: string
                    description:
                      description: Rule description
                      type: string
                    dest:
                      description: Destination IP CIDR or `public` or `private`
                      type: string
                    dmac:
                      description: DNAT MAC address
                      type: string
                    dnat:
                      description: DNAT IP address
                      type: string
                    iface:
                      description: Interface name
                      type: string
                    in:
                      type: string
                    line:
                      description: Rule number
                      maximum: 32768
                      minimum: 1
                      type: number
                    ports:
                      description: Port or port range
                      type: string
                    protocol:
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                      type: string
                    snat:
                      description: Enable SNAT
                      type: boolean
                    source:
                      description: Source IP CIDR or `public` or `private`
                      type: string
                    vrf:
                      description: VRF name
                      type: string
                  required:
                    - protocol
                    - source
                    - dest
                    - action
                  type: object
                type: array
              tunnels:
                items:
                  properties:
                    description:
                      type: string
                    destination:
                      type: string
                    dpdInterval:
                      type: number
                    dpdRetries:
                      type: number
                    enabled:
                      type: boolean
                    ike:
                      enum:
                        - 1
                        - 2
                      type: number
                    ikeCipher:
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                      type: string
                    ikeGroup:
                      enum:
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                      type: number
                    ip:
                      type: string
                    ipsecCipher:
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                      type: string
                    localId:
                      type: string
                    mtu:
                      maximum: 10000
                      minimum: 1000
                      type: number
                    name:
                      type: string
                    networkId:
                      type: string
                    pfs:
                      enum:
                        - 0
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                      type: number
                    presharedKey:
                      type: string
                    psk:
                      type: string
                    publicKey:
                      type: string
                    rekeyInterval:
                      type: number
                    remoteId:
                      type: string
                    replayWindow:
                      enum:
                        - 32
                        - 64
                        - 128
                        - 256
                        - 512
                        - 1024
                        - 2048
                        - 4096
                        - 8192
                      type: number
                    type:
                      enum:
                        - ipsec
                        - gre
                        - vnet
                        - wireguard
                      type: string
                    vrf:
                      type: string
                  required:
                    - name
                    - enabled
                    - mtu
                  type: object
                type: array
              vrfs:
                items:
                  properties:
                    acls:
                      items:
                        properties:
                          action:
                            enum:
                              - allow
                              - drop
                              - reject
                            type: string
                          description:
                            description: ACL description
                            type: string
                          dest:
                            description: Destination IP CIDR
                            type: string
                          line:
                            description: Line number
                            maximum: 32768
                            minimum: 1
                            type: number
                          ports:
                            description: Port or port range
                            type: string
                          protocol:
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                            type: string
                          source:
                            description: Source IP CIDR
                            type: string
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                        type: object
                      type: array
                    description:
                      description: VRF description
                      type: string
                    forwarding:
                      type: boolean
                    name:
                      description: VRF name
                      type: string
                    nats:
                      items:
                        properties:
                          description:
                            description: NAT description
                            type: string
                          dest:
                            description: NAT destination IP CIDR
                            type: string
                          masquerade:
                            description: Enable masquerade
                            type: boolean
                          source:
                            description: NAT source IP CIDR
                            type: string
                          toDest:
                            description: Translated dest IP CIDR
                            type: string
                          toSource:
                            description: Translated source IP CIDR
                            type: string
                        type: object
                      type: array
                    routes:
                      items:
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          dest:
                            description: Route CIDR
                            type: string
                          dev:
                            description: Device name
                            type: string
                          metric:
                            description: Route metric
                            maximum: 200
                            minimum: 1
                            type: number
                          via:
                            description: Next hop IP address
                            type: string
                        required:
                          - dest
                        type: object
                      type: array
                    rules:
                      items:
                        properties:
                          action:
                            enum:
                              - accept
                              - drop
                              - reject
                              - forward
                              - dnat
                            type: string
                          description:
                            description: Rule description
                            type: string
                          dest:
                            description: Destination IP CIDR or `public` or `private`
                            type: string
                          dmac:
                            description: DNAT MAC address
                            type: string
                          dnat:
                            description: DNAT IP address
                            type: string
                          iface:
                            description: Interface name
                            type: string
                          in:
                            type: string
                          line:
                            description: Rule number
                            maximum: 32768
                            minimum: 1
                            type: number
                          ports:
                            description: Port or port range
                            type: string
                          protocol:
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                            type: string
                          snat:
                            description: Enable SNAT
                            type: boolean
                          source:
                            description: Source IP CIDR or `public` or `private`
                            type: string
                          vrf:
                            description: VRF name
                            type: string
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                        type: object
                      type: array
                  required:
                    - name
                  type: object
                type: array
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster

  /cluster/{clusterFQDN}/config/services:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    put:
      consumes:
        - application/json
      description: |
        Update services configuration for a cluster.

        ---

        Requires `nodes::configure::services` permissions.
      parameters:
        - description: Config body
          in: body
          name: config
          required: true
          schema:
            $ref: '#/definitions/ServiceConfig'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
    delete:
      consumes:
        - application/json
      description: |
        Remove a cluster's services configuration.

        ---

        Requires `nodes::configure::services` permissions.
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Cluster

  /v2/cluster/{clusterFQDN}/config/services:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    post:
      consumes:
        - application/json
      description: |
        Add a service to a cluster. Requires V2 services config.

        ---

        Requires `node::configure::services` permissions
      parameters:
        - description: Service
          in: body
          name: service
          required: true
          schema:
            $ref: '#/definitions/EdgeService'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster

  /v2/cluster/{clusterFQDN}/config/services/upgrade:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
    post:
      consumes:
        - application/json
      description: |
        Upgrade a cluster's services config to V2.

        ---

        Requires `node::configure::services` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster

  /v2/cluster/{clusterFQDN}/config/services/{serviceID}:
    parameters:
      - $ref: '#/parameters/clusterFQDN'
      - description: Service ID
        in: path
        name: serviceID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |
        Update a service on a cluster. Requires V2 services config.

        ---

        Requires `node::configure::services` permissions
      parameters:
        - description: Service
          in: body
          name: service
          required: true
          schema:
            $ref: '#/definitions/EdgeService'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Cluster
    delete:
      consumes:
        - application/json
      description: |
        Delete a service from a cluster. Requires V2 services config.

        ---

        Requires `node::configure::services` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Cluster


  /cluster/{clusterFQDN}/tag/{tagName}:
    delete:
      consumes:
        - application/json
      description: Delete a tag from a cluster
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Cluster
    parameters:
      - $ref: '#/parameters/clusterFQDN'
      - description: Tag name
        in: path
        name: tagName
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: Set a tag on a cluster
      parameters:
        - in: body
          name: tag
          required: true
          schema:
            $ref: '#/definitions/TagValueModel'
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Cluster
  /domain/{domainName}:
    get:
      description: |-
        Get domain details

        ---

        Requires `domains::read` permission.
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            description: Domain
            properties:
              config:
                description: Domain configuration
                type: object
            type: object
        '404':
          description: Not found
      tags:
        - Domain
    parameters:
      - description: Domain name
        in: path
        name: domainName
        required: true
        type: string
  /domain/{domainName}/config/alert:
    parameters:
      - description: Domain name
        in: path
        name: domainName
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |-
        Update alert configuration

        ---

        Requires `domains::configure:thresholds` permission.
      parameters:
        - description: Alert configuration
          in: body
          name: alert
          required: true
          schema:
            description: Alert configuration
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation failed
          schema:
            description: ValidationFailed
            items:
              description: Validation failure
              type: string
            title: ValidationFailed
            type: array
      tags:
        - Domain
  /domain/{domainName}/config/apigw:
    parameters:
      - description: Domain name
        in: path
        name: domainName
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |-
        Update API GW configuration

        ---

        Requires `domains::configure:gateway` permission.
      parameters:
        - description: APIGW configuration
          in: body
          name: apigw
          required: true
          schema:
            description: APIGW configuration
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation failed
          schema:
            description: ValidationFailed
            items:
              description: Validation failure
              type: string
            title: ValidationFailed
            type: array
      tags:
        - Domain
  /group:
    get:
      description: Requires `groups::read` permissions
      responses:
        '200':
          description: List of groups
          schema:
            items:
              $ref: '#/definitions/Group'
            type: array
      summary: List all groups in an organization
      tags:
        - User
        - Group
    post:
      description: Requires `groups::modify` permissions
      parameters:
        - description: The group object to be created
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Group'
      responses:
        '200':
          description: Group successfully created
      summary: Create a new group
      tags:
        - User
        - Group
  /group/{groupId}/members/{email}:
    delete:
      description: Requires `groups::modify` permissions
      parameters:
        - description: ID of the group to remove a member from
          in: path
          name: groupId
          required: true
          type: string
        - description: Email of the member to be removed
          in: path
          name: email
          required: true
          type: string
      responses:
        '200':
          description: Member successfully removed from the group
      summary: Remove a member from a group
      tags:
        - User
        - Group
  /group/{uid}:
    delete:
      description: Requires `groups::modify` permissions
      parameters:
        - description: ID of the group to delete
          in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: Group successfully deleted
      summary: Delete a group by UID
      tags:
        - User
        - Group
    get:
      description: Requires `groups::read` permissions
      parameters:
        - description: UID of the group to retrieve
          in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: The group object
          schema:
            $ref: '#/definitions/Group'
        '404':
          description: Group does not exist
      summary: Retrieve a group by UID
      tags:
        - User
        - Group
  /group/{uid}/idps:
    get:
      description: Requires `groups::read` permissions
      parameters:
        - description: UID of the group
          in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: List of Identity Providers
          schema:
            items:
              $ref: '#/definitions/IdpGroup'
            type: array
      summary: List all Identity Providers for a group
      tags:
        - User
        - Group
  /group/{uid}/members:
    get:
      description: Requires `groups::read` permissions
      parameters:
        - description: UID of the group
          in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: List of group members
          schema:
            items:
              $ref: '#/definitions/GroupMember'
            type: array
      summary: List all members of a group
      tags:
        - User
        - Group
    post:
      description: Requires `groups::modify` permissions
      parameters:
        - description: ID of the group to add a member to
          in: path
          name: uid
          required: true
          type: string
        - description: The group member object to be added
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GroupMember'
      responses:
        '200':
          description: Member successfully added to the group
      summary: Add a member to a group
      tags:
        - User
        - Group
  /node:
    get:
      description: |-
        List nodes (appliances and agents)

        ---

        Requires `nodes::read` permission.
      parameters:
        - description: Comma-separated key:value pairs for tag filtering, e.g., `location:Austin,device:Trustgrid`.
          in: query
          name: tags
          type: string
        - description: |-
            List of fields to return from the API. Supports nested fields and anything in the Node schema. Each field should be listed individually, e.g., `projection[]=online&projection[]=uid`.

            ---

            If using curl, the `-g` flag will automatically escape the brackets for you.

          in: query
          name: 'projection[]'
          type: array
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Node'
            type: array
      tags:
        - Node
        - Agent
  /node/license:
    get:
      consumes:
        - application/json
      description: Get a license to register a node
      produces:
        - text/plain
      responses:
        '200':
          description: License body
          schema:
            type: string
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
    parameters:
      - description: node name
        in: query
        name: name
        required: true
        type: string
  /node/{nodeID}:
    delete:
      description: |-
        Delete a node (appliance or agent)

        ---

        Requires `nodes::delete` permission.
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      tags:
        - Node
        - Agent
    get:
      description: |-
        Get a node (appliance or agent)

        ---

        Requires `nodes::read` permission.
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Node'
        '404':
          description: Not Found
      tags:
        - Node
        - Agent
    parameters:
      - description: Node ID
        in: path
        name: nodeID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |-
        Update a node (appliance or agent)

        ---

        Requires `nodes::manage` permission.
      parameters:
        - description: Node updates
          in: body
          name: updates
          schema:
            description: Node updates
            properties:
              cluster:
                description: Cluster FQDN - requires `nodes::cluster` permission to modify
                example: mycluster.trustgrid.io
                type: string
              state:
                description: Node state
                enum:
                  - ACTIVE
                  - INACTIVE
                type: string
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent
  /node/{nodeID}/config/alert:
    parameters:
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Update alert configuration for a node (appliance)

        ---

        Note: request body will be validated by JSON schema of the plugin
      parameters:
        - description: Config body
          in: body
          name: config
          required: true
          schema:
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
  /node/{nodeID}/config/cluster:
    parameters:
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Update cluster configuration for a node (appliance)

        ---

        Note: request body will be validated by JSON schema of the plugin
      parameters:
        - description: Config body
          in: body
          name: config
          required: true
          schema:
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node

  /node/{nodeID}/config/connectors:
    parameters:
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Update connectors configuration for a node (appliance or agent)

        ---

        Note: request body will be validated by JSON schema of the plugin
      parameters:
        - description: Config body
          in: body
          name: config
          required: true
          schema:
            $ref: '#/definitions/ConnectorConfig'
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent
    delete:
      consumes:
        - application/json
      description: |
        Delete the connector config for a node (appliance or agent)

        ---

        Requires `node::configure::connectors` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent

  /v2/node/{nodeID}/config/connectors:
    parameters:
      - $ref: '#/parameters/nodeID'
    post:
      consumes:
        - application/json
      description: |
        Add a connector to a node (appliance or agent). Requires V2 connector config.

        ---

        Requires `node::configure::connectors` permissions
      parameters:
        - description: Connector
          in: body
          name: connector
          required: true
          schema:
            $ref: '#/definitions/EdgeConnector'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
        - Agent

  /v2/node/{nodeID}/config/connectors/upgrade:
    parameters:
      - $ref: '#/parameters/nodeID'
    post:
      consumes:
        - application/json
      description: |
        Upgrade a node's (appliance or agent) connector config to V2.

        ---

        Requires `node::configure::connectors` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
        - Agent

  /v2/node/{nodeID}/config/connectors/{connectorID}:
    parameters:
      - $ref: '#/parameters/nodeID'
      - description: Connector ID
        in: path
        name: connectorID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |
        Update a connector on a node (appliance or agent). Requires V2 connector config.

        ---

        Requires `node::configure::connectors` permissions
      parameters:
        - description: Connector
          in: body
          name: connector
          required: true
          schema:
            $ref: '#/definitions/EdgeConnector'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
        - Agent

    delete:
      consumes:
        - application/json
      description: |
        Delete a connector from a node (appliance or agent). Requires V2 connector config.

        ---

        Requires `node::configure::connectors` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent

  /node/{nodeID}/config/network:
    parameters:
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Update network configuration for a node (appliance)

        ---

        Requires `node::configure:network` permissions
      parameters:
        - description: Network Config
          in: body
          name: config
          required: true
          schema:
            properties:
              acls:
                items:
                  properties:
                    action:
                      enum:
                        - allow
                        - drop
                        - reject
                      type: string
                    description:
                      type: string
                    dest:
                      description: Destination IP CIDR
                      type: string
                    line:
                      description: Line number
                      maximum: 32768
                      minimum: 1
                      type: number
                    ports:
                      description: Port or port range
                      type: string
                    protocol:
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                      type: string
                    source:
                      description: Source IP CIDR
                      type: string
                  required:
                    - protocol
                    - source
                    - dest
                    - action
                  type: object
                type: array
              darkMode:
                type: boolean
              forwarding:
                type: boolean
              interfaces:
                items:
                  properties:
                    cloudRoutes:
                      items:
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          route:
                            description: Route CIDR
                            example: 192.168.10.0/24
                            type: string
                        type: object
                      type: array
                    clusterIP:
                      description: Cluster IP
                      type: string
                    clusterRouteTables:
                      items:
                        description: Cluster route tables
                        type: string
                      type: array
                    clusterRoutes:
                      items:
                        description: Cluster routes
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          route:
                            description: Route CIDR
                            example: 192.168.10.0/24
                            type: string
                        required:
                          - route
                        type: object
                      type: array
                    description:
                      description: Interface description
                      example: My interface
                      type: string
                    dhcp:
                      default: false
                      description: Enable DHCP
                      example: false
                      type: boolean
                    dhcpPool:
                      description: DHCP pool
                      type: string
                    dns:
                      items:
                        description: DNS servers
                        type: string
                      type: array
                    duplex:
                      description: Interface duplex
                      enum:
                        - full
                        - half
                      type: string
                    gateway:
                      description: Gateway IP
                      type: string
                    ip:
                      description: Interface IP
                      type: string
                    mode:
                      description: Interface mode
                      enum:
                        - auto
                        - manual
                      type: string
                    mtu:
                      description: MTU
                      example: 1500
                      maximum: 9001
                      minimum: 1300
                      type: number
                    nic:
                      description: Network interface name
                      example: eth0
                      type: string
                    routes:
                      items:
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          next:
                            description: Next hop
                            example: 192.168.10.10
                            type: string
                          route:
                            description: Route CIDR
                            example: 192.168.10.0/24
                            type: string
                        required:
                          - route
                        type: object
                      type: array
                    speed:
                      description: Interface speed
                      type: number
                    subInterfaces:
                      items:
                        properties:
                          description:
                            description: Interface description
                            example: My interface
                            type: string
                          ip:
                            description: sub-interface IP
                            type: string
                          routes:
                            items:
                              properties:
                                description:
                                  description: Route description
                                  example: My route
                                  type: string
                                next:
                                  description: Next hop
                                  example: 192.168.10.10
                                  type: string
                                route:
                                  description: Route CIDR
                                  example: 192.168.10.0/24
                                  type: string
                              required:
                                - route
                              type: object
                            type: array
                          vlanID:
                            default: 1
                            description: VLAN ID
                            example: 1
                            maximum: 4094
                            minimum: 1
                            type: number
                          vrf:
                            description: VRF name
                            example: default
                            type: string
                        required:
                          - vlanID
                          - ip
                        type: object
                      type: array
                    virtual:
                      default: false
                      description: Whether the interface is virtual
                      example: false
                      type: boolean
                    vrf:
                      description: VRF name
                      example: default
                      type: string
                  required:
                    - nic
                  type: object
                type: array
              nats:
                items:
                  properties:
                    description:
                      description: NAT description
                      type: string
                    dest:
                      description: NAT destination IP CIDR
                      type: string
                    masquerade:
                      type: boolean
                    source:
                      description: NAT source IP CIDR
                      type: string
                    toDest:
                      description: Translated dest IP CIDR
                      type: string
                    toSource:
                      description: Translated source IP CIDR
                      type: string
                  type: object
                type: array
              routes:
                items:
                  properties:
                    description:
                      type: string
                    dest:
                      type: string
                    dev:
                      type: string
                    metric:
                      description: Route metric
                      maximum: 200
                      minimum: 1
                      type: number
                    via:
                      description: Next hop IP address
                      type: string
                  required:
                    - dest
                  type: object
                type: array
              rules:
                items:
                  properties:
                    action:
                      enum:
                        - accept
                        - drop
                        - reject
                        - forward
                        - dnat
                      type: string
                    description:
                      description: Rule description
                      type: string
                    dest:
                      description: Destination IP CIDR or `public` or `private`
                      type: string
                    dmac:
                      description: DNAT MAC address
                      type: string
                    dnat:
                      description: DNAT IP address
                      type: string
                    iface:
                      description: Interface name
                      type: string
                    in:
                      type: string
                    line:
                      description: Rule number
                      maximum: 32768
                      minimum: 1
                      type: number
                    ports:
                      description: Port or port range
                      type: string
                    protocol:
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                      type: string
                    snat:
                      description: Enable SNAT
                      type: boolean
                    source:
                      description: Source IP CIDR or `public` or `private`
                      type: string
                    vrf:
                      description: VRF name
                      type: string
                  required:
                    - protocol
                    - source
                    - dest
                    - action
                  type: object
                type: array
              tunnels:
                items:
                  properties:
                    description:
                      type: string
                    destination:
                      type: string
                    dpdInterval:
                      type: number
                    dpdRetries:
                      type: number
                    enabled:
                      type: boolean
                    ike:
                      enum:
                        - 1
                        - 2
                      type: number
                    ikeCipher:
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                      type: string
                    ikeGroup:
                      enum:
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                      type: number
                    ip:
                      type: string
                    ipsecCipher:
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                      type: string
                    localId:
                      type: string
                    mtu:
                      maximum: 10000
                      minimum: 1000
                      type: number
                    name:
                      type: string
                    networkId:
                      type: string
                    pfs:
                      enum:
                        - 0
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                      type: number
                    presharedKey:
                      type: string
                    psk:
                      type: string
                    publicKey:
                      type: string
                    rekeyInterval:
                      type: number
                    remoteId:
                      type: string
                    replayWindow:
                      enum:
                        - 32
                        - 64
                        - 128
                        - 256
                        - 512
                        - 1024
                        - 2048
                        - 4096
                        - 8192
                      type: number
                    type:
                      enum:
                        - ipsec
                        - gre
                        - vnet
                        - wireguard
                      type: string
                    vrf:
                      type: string
                  required:
                    - name
                    - enabled
                    - mtu
                  type: object
                type: array
              vrfs:
                items:
                  properties:
                    acls:
                      items:
                        properties:
                          action:
                            enum:
                              - allow
                              - drop
                              - reject
                            type: string
                          description:
                            description: ACL description
                            type: string
                          dest:
                            description: Destination IP CIDR
                            type: string
                          line:
                            description: Line number
                            maximum: 32768
                            minimum: 1
                            type: number
                          ports:
                            description: Port or port range
                            type: string
                          protocol:
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                            type: string
                          source:
                            description: Source IP CIDR
                            type: string
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                        type: object
                      type: array
                    description:
                      description: VRF description
                      type: string
                    forwarding:
                      type: boolean
                    name:
                      description: VRF name
                      type: string
                    nats:
                      items:
                        properties:
                          description:
                            description: NAT description
                            type: string
                          dest:
                            description: NAT destination IP CIDR
                            type: string
                          masquerade:
                            description: Enable masquerade
                            type: boolean
                          source:
                            description: NAT source IP CIDR
                            type: string
                          toDest:
                            description: Translated dest IP CIDR
                            type: string
                          toSource:
                            description: Translated source IP CIDR
                            type: string
                        type: object
                      type: array
                    routes:
                      items:
                        properties:
                          description:
                            description: Route description
                            example: My route
                            type: string
                          dest:
                            description: Route CIDR
                            type: string
                          dev:
                            description: Device name
                            type: string
                          metric:
                            description: Route metric
                            maximum: 200
                            minimum: 1
                            type: number
                          via:
                            description: Next hop IP address
                            type: string
                        required:
                          - dest
                        type: object
                      type: array
                    rules:
                      items:
                        properties:
                          action:
                            enum:
                              - accept
                              - drop
                              - reject
                              - forward
                              - dnat
                            type: string
                          description:
                            description: Rule description
                            type: string
                          dest:
                            description: Destination IP CIDR or `public` or `private`
                            type: string
                          dmac:
                            description: DNAT MAC address
                            type: string
                          dnat:
                            description: DNAT IP address
                            type: string
                          iface:
                            description: Interface name
                            type: string
                          in:
                            type: string
                          line:
                            description: Rule number
                            maximum: 32768
                            minimum: 1
                            type: number
                          ports:
                            description: Port or port range
                            type: string
                          protocol:
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                            type: string
                          snat:
                            description: Enable SNAT
                            type: boolean
                          source:
                            description: Source IP CIDR or `public` or `private`
                            type: string
                          vrf:
                            description: VRF name
                            type: string
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                        type: object
                      type: array
                  required:
                    - name
                  type: object
                type: array
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node

  /node/{nodeID}/config/services:
    parameters:
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Update services configuration for a node (appliance or agent)

        ---

        Note: request body will be validated by JSON schema of the plugin
      parameters:
        - description: Config body
          in: body
          name: config
          required: true
          schema:
            $ref: '#/definitions/ServiceConfig'
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent

  /v2/node/{nodeID}/config/services:
    parameters:
      - $ref: '#/parameters/nodeID'
    post:
      consumes:
        - application/json
      description: |
        Add a service to a node. Requires V2 services config.

        ---

        Requires `node::configure::services` permissions
      parameters:
        - description: Service
          in: body
          name: service
          required: true
          schema:
            $ref: '#/definitions/EdgeService'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
        - Agent

  /v2/node/{nodeID}/config/services/upgrade:
    parameters:
      - $ref: '#/parameters/nodeID'
    post:
      consumes:
        - application/json
      description: |
        Upgrade a node's services config to V2.

        ---

        Requires `node::configure::services` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
        - Agent

  /v2/node/{nodeID}/config/services/{serviceID}:
    parameters:
      - $ref: '#/parameters/nodeID'
      - description: Service ID
        in: path
        name: serviceID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |
        Update a service on a node. Requires V2 services config.

        ---

        Requires `node::configure::services` permissions
      parameters:
        - description: Service
          in: body
          name: service
          required: true
          schema:
            $ref: '#/definitions/EdgeService'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Node
        - Agent
    delete:
      consumes:
        - application/json
      description: |
        Delete a service from a node. Requires V2 services config.

        ---

        Requires `node::configure::services` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent

  /node/{nodeID}/config/ztnagw:
    parameters:
      - $ref: '#/parameters/nodeID'
    put:
      consumes:
        - application/json
      description: |
        Update ZTNA gateway configuration for a node (appliance)

        Note that this endpoint used to be `apigw`. The config section is still named `apigw`.
        ---

        "WireGuard" is a registered trademark of Jason A. Donenfeld.

        Requires `node::configure::apigw` permissions
      parameters:
        - in: body
          name: ZTNA config
          schema:
            example:
              cert: myztnahost.mycompany.com
              enabled: true
              host: myztnahost.mycompany.com
              port: 9927
              wireguardEnabled: true
              wireguardEndpoint: myztnahost.mycompany.com
              wireguardPort: 9926
            properties:
              cert:
                description: ZTNA gateway certificate (FQDN)
                type: string
              enabled:
                description: Enable this plugin
                type: boolean
              host:
                description: ZTNA gateway host
                type: string
              port:
                description: ZTNA gateway port
                maximum: 65535
                minimum: 1
                type: number
              wireguardEnabled:
                description: Enable wireguard
                type: boolean
              wireguardEndpoint:
                description: WireGuard endpoint
                format: hostname
                type: string
              wireguardPort:
                description: WireGuard port
                maximum: 65535
                minimum: 1
                type: number
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
    delete:
      consumes:
        - application/json
      description: |
        Delete the ZTNA gateway configuration for a node (appliance)

        ---

        Requires `node::configure::apigw` permissions
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node

  /node/{nodeID}/config/gateway:
    parameters:
      - description: Node ID
        in: path
        name: nodeID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |-
        Update gateway configuration

        ---

        Requires `nodes::configure:gateway` permission.
      parameters:
        - description: Gateway config
          in: body
          name: config
          schema:
            description: Gateway config
            properties:
              cert:
                description: Certificate
                example: mygateway.trustgrid.io
                type: string
              clients:
                items:
                  description: Gateway client
                  properties:
                    enabled:
                      description: Client is allowed to connect
                      example: true
                      type: boolean
                    name:
                      description: Node or cluster name
                      example: mynode
                      type: string
                  type: object
                type: array
              connectToPublic:
                description: Connect to public
                type: boolean
              enabled:
                description: Enable gateway plugin
                type: boolean
              host:
                description: Hostname of the gateway
                example: mygateway.trustgrid.io
                type: string
              maxClientWriteMbps:
                description: Max egress MBPS
                example: 1000
                type: number
              maxmbps:
                description: Max ingress MBPS
                example: 1000
                type: number
              monitorHops:
                description: Monitor hops
                type: boolean
              port:
                description: Port of the gateway
                example: 8080
                type: number
              type:
                description: Type of gateway
                enum:
                  - private
                  - public
                  - hub
                type: string
              udpEnabled:
                description: Enable UDP
                type: boolean
              udpPort:
                description: UDP port
                example: 8081
                type: number
            required:
              - enabled
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation failed
          schema:
            description: ValidationFailed
            items:
              description: Validation failure
              type: string
            title: ValidationFailed
            type: array
      tags:
        - Agent
        - Node
  /node/{nodeID}/lock:
    parameters:
      - $ref: '#/parameters/nodeID'
  /node/{nodeID}/snmp:
    parameters:
      - description: Node ID
        in: path
        name: nodeID
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: |-
        Update SNMP configuration

        ---

        Requires `nodes::configure:snmp` permission.
      parameters:
        - description: SNMP config
          in: body
          name: config
          schema:
            description: SNMP config
            properties:
              authPassphrase:
                description: Auth passphrase
                example: myauthpass
                type: string
              authProtocol:
                description: Auth passphrase
                enum:
                  - SHA
                  - MD5
                type: string
              enabled:
                description: Enable SNMP plugin
                type: boolean
              engineId:
                description: Engine ID
                example: myengineid
                type: string
              interface:
                description: Interface
                example: eth0
                type: string
              port:
                description: Port
                example: 161
                type: number
              privacyPassphrase:
                description: Privacy passphrase
                example: myprivpass
                type: string
              privacyProtocol:
                description: Privacy protocol
                enum:
                  - AES128
                  - AES192
                  - AES256
                  - DES
                type: string
              username:
                description: Username
                example: myuser
                type: string
            required:
              - enabled
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation failed
          schema:
            description: ValidationFailed
            items:
              description: Validation failure
              type: string
            title: ValidationFailed
            type: array
      tags:
        - Node
        - Agent
  /node/{nodeID}/tag/{tagName}:
    delete:
      consumes:
        - application/json
      description: Delete a tag from a node (appliance or agent)
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent
    parameters:
      - $ref: '#/parameters/nodeID'
      - description: Tag name
        in: path
        name: tagName
        required: true
        type: string
    put:
      consumes:
        - application/json
      description: Set a tag on a node (appliance or agent)
      parameters:
        - in: body
          name: tag
          required: true
          schema:
            $ref: '#/definitions/TagValueModel'
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent
  /node/{nodeID}/trigger/{event}:
    parameters:
      - $ref: '#/parameters/nodeID'
      - in: path
        name: event
        required: true
        type: string
    post:
      description: Trigger an event on a node (appliance or agent)
      parameters:
        - description: If present, the request will return the node's event output
          in: query
          name: wait
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Node
        - Agent
  /org/mine:
    get:
      description: Get your current Org
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrgModel'
        '404':
          description: Org not found
      tags:
        - Org
  /provisioning/api/v1/orders:
    get:
      description: Get all orders. The responses for orders from this API request are not fully hydrated (eg, no nodes).
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/OrderModel'
            type: array
      tags:
        - Orders
    post:
      description: Create an order. Omitted fields are not updated.
      parameters:
        - in: body
          name: order
          schema:
            $ref: '#/definitions/OrderModel'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation Failed
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Orders
  /provisioning/api/v1/orders/{uid}:
    get:
      description: Get an order
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OrderModel'
      tags:
        - Orders
    parameters:
      - in: path
        name: uid
        required: true
        type: string
    put:
      description: Update an order. Omitted fields are not updated.
      parameters:
        - in: body
          name: order
          schema:
            $ref: '#/definitions/OrderModel'
      produces:
        - application/json
      responses:
        '200':
          description: OK
        '422':
          description: Validation Failed
          schema:
            $ref: '#/definitions/ValidationFailed'
      tags:
        - Orders
  /provisioning/api/v1/orders/{uid}/comment:
    parameters:
      - in: path
        name: uid
        required: true
        type: string
    post:
      description: Add a comment
      parameters:
        - in: body
          name: comment body
          schema:
            properties:
              body:
                type: string
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Orders
  /provisioning/api/v1/orders/{uid}/flag:
    delete:
      description: Unflag an order
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Orders
    parameters:
      - in: path
        name: uid
        required: true
        type: string
    put:
      description: Flag an order
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Orders
  /repositories:
    get:
      description: Get all repositories
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RepositoryModel'
            type: array
      tags:
        - Repositories
  /repositories/{reponame}:
    delete:
      description: Delete a repository
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Repositories
    get:
      description: Get information for a repository
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RepositoryTagModel'
            type: array
      tags:
        - Repositories
    parameters:
      - in: path
        name: reponame
        required: true
        type: string
  /repositories/{reponame}/{tag}:
    delete:
      description: Delete a repository tag
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Repositories
    parameters:
      - in: path
        name: reponame
        required: true
        type: string
      - in: path
        name: tag
        required: true
        type: string
  /stats/realtime/usage:
    get:
      description: Returns an array of usage data buckets for specified nodes within the specified time range and interval.
      parameters:
        - description: The relative start time for the data (e.g., "-7 days").
          in: query
          name: relative_start
          type: string
        - description: The relative end time for the data (e.g., "now").
          in: query
          name: relative_end
          type: string
        - description: The size of the time buckets in minutes.
          in: query
          name: intervalInMinutes
          type: string
        - description: The start time for the data in Unix timestamp format (if not using relative_start).
          format: int64
          in: query
          name: start
          type: integer
        - description: The end time for the data in Unix timestamp format (if not using relative_end).
          format: int64
          in: query
          name: end
          type: integer
        - description: The filters to apply when querying for nodes, like tags.
          in: query
          name: filters
          type: string
      responses:
        '200':
          description: An array of usage data buckets.
          schema:
            items:
              properties:
                bytes:
                  description: The number of bytes in the bucket.
                  format: int64
                  type: integer
                count:
                  description: The number of flows in the bucket.
                  format: int64
                  type: integer
                t:
                  description: The time of the bucket in Unix timestamp format.
                  format: int64
                  type: integer
              type: object
            type: array
      summary: Retrieve usage data for nodes (appliances or agents)
      tags:
        - Node
[...]
