---
# HEADS UP! This document can be edited, or you can use the peer main.go to add your API
# definitions with a bit more strong typing. The two are merged when it's built as a container,
# and spat out as a swagger.json.

swagger: "2.0"
info:
  version: 1.0.0
  title: Trustgrid Management API
schemes:
  - https
host: api.trustgrid.io

paths:
  "/stats/realtime/usage":
    get:
      tags:
        - Node
      summary: Retrieve usage data for nodes
      description: Returns an array of usage data buckets for specified nodes within the specified time range and interval.
      parameters:
        - in: query
          name: relative_start
          type: string
          description: The relative start time for the data (e.g., "-7 days").
        - in: query
          name: relative_end
          type: string
          description: The relative end time for the data (e.g., "now").
        - in: query
          name: intervalInMinutes
          type: string
          description: The size of the time buckets in minutes.
        - in: query
          name: start
          type: integer
          format: int64
          description: The start time for the data in Unix timestamp format (if not using relative_start).
        - in: query
          name: end
          type: integer
          format: int64
          description: The end time for the data in Unix timestamp format (if not using relative_end).
        - in: query
          name: filters
          type: string
          description: The filters to apply when querying for nodes, like tags.
      responses:
        200:
          description: An array of usage data buckets.
          schema:
            type: array
            items:
              type: object
              properties:
                t:
                  type: integer
                  format: int64
                  description: The time of the bucket in Unix timestamp format.
                count:
                  type: integer
                  format: int64
                  description: The number of flows in the bucket.
                bytes:
                  type: integer
                  format: int64
                  description: The number of bytes in the bucket.

  /group/{uid}:
    get:
      summary: Retrieve a group by UID
      description: Requires `groups::read` permissions
      tags:
        - User
        - Group
      parameters:
        - name: uid
          in: path
          description: UID of the group to retrieve
          required: true
          type: string
      responses:
        200:
          description: The group object
          schema:
            $ref: '#/definitions/Group'
        404:
          description: Group does not exist
    delete:
      tags:
        - User
        - Group
      summary: Delete a group by UID
      description: Requires `groups::modify` permissions
      parameters:
        - name: groupId
          in: path
          description: ID of the group to delete
          required: true
          type: string
      responses:
        200:
          description: Group successfully deleted

  /group:
    get:
      tags:
        - User
        - Group
      summary: List all groups in an organization
      description: Requires `groups::read` permissions
      responses:
        200:
          description: List of groups
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'
    post:
      tags:
        - User
        - Group
      summary: Create a new group
      description: Requires `groups::modify` permissions
      parameters:
        - name: body
          in: body
          description: The group object to be created
          required: true
          schema:
            $ref: '#/definitions/Group'
      responses:
        200:
          description: Group successfully created

  /group/{uid}/idps:
    get:
      summary: List all Identity Providers for a group
      description: Requires `groups::read` permissions
      tags:
        - User
        - Group
      parameters:
        - name: uid
          in: path
          description: UID of the group
          required: true
          type: string
      responses:
        200:
          description: List of Identity Providers
          schema:
            type: array
            items:
              $ref: '#/definitions/IdpGroup'

  /group/{uid}/members:
    get:
      summary: List all members of a group
      description: Requires `groups::read` permissions
      tags:
        - User
        - Group
      parameters:
        - name: uid
          in: path
          description: UID of the group
          required: true
          type: string
      responses:
        200:
          description: List of group members
          schema:
            type: array
            items:
              $ref: '#/definitions/GroupMember'
    post:
      summary: Add a member to a group
      description: Requires `groups::modify` permissions
      tags:
        - User
        - Group
      parameters:
        - name: groupId
          in: path
          description: ID of the group to add a member to
          required: true
          type: string
        - name: body
          in: body
          description: The group member object to be added
          required: true
          schema:
            $ref: '#/definitions/GroupMember'
      responses:
        200:
          description: Member successfully added to the group

  /group/{groupId}/members/{email}:
    delete:
      tags:
        - User
        - Group
      summary: Remove a member from a group
      description: Requires `groups::modify` permissions
      parameters:
        - name: groupId
          in: path
          description: ID of the group to remove a member from
          required: true
          type: string
        - name: email
          in: path
          description: Email of the member to be removed
          required: true
          type: string
      responses:
        200:
          description: Member successfully removed from the group


  "/user":
    get:
      description: |
        Get all users

        ---

        Note: changes to users sometimes take a few minutes to appear while being indexed
      tags:
        - User
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/UserModel"
    post:
      description: >
        Invite a user. For organizations using the default Trustgrid authentication provider, users must be **invited** and then they should sign up with the invited email address.

        For custom IDP integrations, users should be **added** instead.
      parameters:
        - name: user
          in: body
          schema:
            type: object
            properties:
              email:
                type: string
                description: User's email
              policyId:
                type: string
                description: ID of the policy to be applied to the user upon account creation
            required:
              - email
              - policyId
      consumes:
        - application/json
      tags:
        - User
      produces:
        - application/json
      responses:
        200:
          description: OK

  "/user/add":
    post:
      description: >
        Add a user. This is only available to organizations with custom IDP integrations.
      parameters:
        - name: user
          in: body
          schema:
            type: object
            properties:
              email:
                type: string
                description: User's email
              idp:
                type: string
                description: ID of the IDP to be used for the user
              policyIds:
                type: array
                items:
                  type: string
                description: IDs of the policy/policies to be applied to the user
            required:
              - email
              - policyIds
              - idp
      consumes:
        - application/json
      tags:
        - User
      produces:
        - application/json
      responses:
        200:
          description: OK

  "/user/{email}":
    parameters:
      - name: email
        in: path
        required: true
        type: string
        description: User email
    delete:
      description: Delete a user
      consumes:
        - application/json
      tags:
        - User
      produces:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Cannot delete root user
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/cluster":
    get:
      description: Get all clusters
      tags:
        - Cluster
      produces:
        - application/json
      parameters:
        - name: withConfig
          in: query
          required: false
          type: boolean
          description: If specified, the nodes will return with their associated configuration.
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/ClusterModel"
    post:
      description: |
        Create a cluster
      parameters:
        - name: cluster
          in: body
          schema:
            "$ref": "#/definitions/CreateClusterModel"
      consumes:
        - application/json
      tags:
        - Cluster
      produces:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/cluster/{clusterFQDN}/active/{nodeID}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Designate the specified node as the active cluster member

      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/cluster/{clusterFQDN}/config/network":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
    put:
      description: |
        Update network configuration for a given cluster

        ---

        Requires `node::configure:network` permissions
      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Network Config
          schema:
            type: object
            properties:
              tunnels:
                type: array
                items:
                  type: object
                  required:
                    - name
                    - enabled
                    - mtu
                  properties:
                    name:
                      type: string
                    enabled:
                      type: boolean
                    description:
                      type: string
                    vrf:
                      type: string
                    ip:
                      type: string
                    mtu:
                      type: number
                      minimum: 1000
                      maximum: 10000
                    destination:
                      type: string
                    ike:
                      type: number
                      enum:
                        - 1
                        - 2
                    localId:
                      type: string
                    remoteId:
                      type: string
                    ikeCipher:
                      type: string
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                    ikeGroup:
                      type: number
                      enum:
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                    ipsecCipher:
                      type: string
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                    pfs:
                      type: number
                      enum:
                        - 0
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                    psk:
                      type: string
                    dpdInterval:
                      type: number
                    dpdRetries:
                      type: number
                    rekeyInterval:
                      type: number
                    replayWindow:
                      type: number
                      enum:
                        - 32
                        - 64
                        - 128
                        - 256
                        - 512
                        - 1024
                        - 2048
                        - 4096
                        - 8192
                    networkId:
                      type: string
                    type:
                      type: string
                      enum:
                        - ipsec
                        - gre
                        - vnet
                        - wireguard
                    publicKey:
                      type: string
                    presharedKey:
                      type: string
              interfaces:
                type: array
                items:
                  type: object
                  required:
                    - nic
                  properties:
                    subInterfaces:
                      type: array
                      items:
                        type: object
                        required:
                          - vlanID
                          - ip
                        properties:
                          vlanID:
                            type: number
                            description: VLAN ID
                            minimum: 1
                            maximum: 4094
                            default: 1
                            example: 1
                          description:
                            type: string
                            description: Interface description
                            example: My interface
                          vrf:
                            type: string
                            description: VRF name
                            example: default
                          ip:
                            type: string
                            description: sub-interface IP
                          routes:
                            type: array
                            items:
                              type: object
                              required:
                                - route
                              properties:
                                route:
                                  type: string
                                  description: Route CIDR
                                  example: 192.168.10.0/24
                                next:
                                  type: string
                                  description: Next hop
                                  example: 192.168.10.10
                                description:
                                  type: string
                                  description: Route description
                                  example: My route
                    nic:
                      type: string
                      description: Network interface name
                      example: eth0
                    dhcp:
                      type: boolean
                      description: Enable DHCP
                      default: false
                      example: false
                    description:
                      type: string
                      description: Interface description
                      example: My interface
                    virtual:
                      type: boolean
                      description: Whether the interface is virtual
                      default: false
                      example: false
                    vrf:
                      type: string
                      description: VRF name
                      example: default
                    mtu:
                      type: number
                      description: MTU
                      minimum: 1300
                      maximum: 9001
                      example: 1500
                    duplex:
                      type: string
                      description: Interface duplex
                      enum:
                        - full
                        - half
                    speed:
                      type: number
                      description: Interface speed
                    ip:
                      type: string
                      description: Interface IP
                    clusterIP:
                      type: string
                      description: Cluster IP
                    gateway:
                      type: string
                      description: Gateway IP
                    dhcpPool:
                      type: string
                      description: DHCP pool
                    dns:
                      type: array
                      items:
                        type: string
                        description: DNS servers
                    clusterRoutes:
                      type: array
                      items:
                        type: object
                        description: Cluster routes
                        required:
                          - route
                        properties:
                          route:
                            type: string
                            description: Route CIDR
                            example: 192.168.10.0/24
                          description:
                            type: string
                            description: Route description
                            example: My route
                    clusterRouteTables:
                      type: array
                      items:
                        type: string
                        description: Cluster route tables
                    cloudRoutes:
                      type: array
                      items:
                        type: object
                        properties:
                          route:
                            type: string
                            description: Route CIDR
                            example: 192.168.10.0/24
                          description:
                            type: string
                            description: Route description
                            example: My route
                    routes:
                      type: array
                      items:
                        type: object
                        required:
                          - route
                        properties:
                          route:
                            type: string
                            description: Route CIDR
                            example: 192.168.10.0/24
                          next:
                            type: string
                            description: Next hop
                            example: 192.168.10.10
                          description:
                            type: string
                            description: Route description
                            example: My route
                    mode:
                      type: string
                      description: Interface mode
                      enum:
                        - auto
                        - manual
              routes:
                type: array
                items:
                  type: object
                  required:
                    - dest
                  properties:
                    dest:
                      type: string
                    via:
                      type: string
                      description: Next hop IP address
                    dev:
                      type: string
                    metric:
                      type: number
                      minimum: 1
                      maximum: 200
                      description: Route metric
                    description:
                      type: string
              nats:
                type: array
                items:
                  type: object
                  properties:
                    source:
                      type: string
                      description: NAT source IP CIDR
                    dest:
                      type: string
                      description: NAT destination IP CIDR
                    toSource:
                      type: string
                      description: Translated source IP CIDR
                    toDest:
                      type: string
                      description: Translated dest IP CIDR
                    masquerade:
                      type: boolean
                    description:
                      type: string
                      description: NAT description
              acls:
                type: array
                items:
                  type: object
                  properties:
                    line:
                      type: number
                      minimum: 1
                      maximum: 32768
                      description: Line number
                    protocol:
                      type: string
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                    source:
                      type: string
                      description: Source IP CIDR
                    dest:
                      type: string
                      description: Destination IP CIDR
                    ports:
                      type: string
                      description: Port or port range
                    action:
                      type: string
                      enum:
                        - allow
                        - drop
                        - reject
                    description:
                      type: string
                  required:
                    - protocol
                    - source
                    - dest
                    - action
              rules:
                type: array
                items:
                  type: object
                  properties:
                    line:
                      type: number
                      minimum: 1
                      maximum: 32768
                      description: Rule number
                    protocol:
                      type: string
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                    in:
                      type: string
                    source:
                      type: string
                      description: Source IP CIDR or `public` or `private`
                    dest:
                      type: string
                      description: Destination IP CIDR or `public` or `private`
                    ports:
                      type: string
                      description: Port or port range
                    action:
                      type: string
                      enum:
                        - accept
                        - drop
                        - reject
                        - forward
                        - dnat
                    iface:
                      type: string
                      description: Interface name
                    vrf:
                      type: string
                      description: VRF name
                    snat:
                      type: boolean
                      description: Enable SNAT
                    dnat:
                      type: string
                      description: DNAT IP address
                    dmac:
                      type: string
                      description: DNAT MAC address
                    description:
                      type: string
                      description: Rule description
                  required:
                    - protocol
                    - source
                    - dest
                    - action
              vrfs:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: VRF name
                    description:
                      type: string
                      description: VRF description
                    forwarding:
                      type: boolean
                    routes:
                      type: array
                      items:
                        type: object
                        properties:
                          dest:
                            type: string
                            description: Route CIDR
                          via:
                            type: string
                            description: Next hop IP address
                          dev:
                            type: string
                            description: Device name
                          metric:
                            type: number
                            minimum: 1
                            maximum: 200
                            description: Route metric
                          description:
                            type: string
                            description: Route description
                            example: My route
                        required:
                          - dest
                    nats:
                      type: array
                      items:
                        type: object
                        properties:
                          source:
                            type: string
                            description: NAT source IP CIDR
                          dest:
                            type: string
                            description: NAT destination IP CIDR
                          toSource:
                            type: string
                            description: Translated source IP CIDR
                          toDest:
                            type: string
                            description: Translated dest IP CIDR
                          masquerade:
                            type: boolean
                            description: Enable masquerade
                          description:
                            type: string
                            description: NAT description
                    acls:
                      type: array
                      items:
                        type: object
                        properties:
                          line:
                            type: number
                            minimum: 1
                            maximum: 32768
                            description: Line number
                          protocol:
                            type: string
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                          source:
                            type: string
                            description: Source IP CIDR
                          dest:
                            type: string
                            description: Destination IP CIDR
                          ports:
                            type: string
                            description: Port or port range
                          action:
                            type: string
                            enum:
                              - allow
                              - drop
                              - reject
                          description:
                            type: string
                            description: ACL description
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                    rules:
                      type: array
                      items:
                        type: object
                        properties:
                          line:
                            type: number
                            minimum: 1
                            maximum: 32768
                            description: Rule number
                          protocol:
                            type: string
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                          in:
                            type: string
                          source:
                            type: string
                            description: Source IP CIDR or `public` or `private`
                          dest:
                            type: string
                            description: Destination IP CIDR or `public` or `private`
                          ports:
                            type: string
                            description: Port or port range
                          action:
                            type: string
                            enum:
                              - accept
                              - drop
                              - reject
                              - forward
                              - dnat
                          iface:
                            type: string
                            description: Interface name
                          vrf:
                            type: string
                            description: VRF name
                          snat:
                            type: boolean
                            description: Enable SNAT
                          dnat:
                            type: string
                            description: DNAT IP address
                          dmac:
                            type: string
                            description: DNAT MAC address
                          description:
                            type: string
                            description: Rule description
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                  required:
                    - name
              darkMode:
                type: boolean
              forwarding:
                type: boolean
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/cluster/{clusterFQDN}/config/services":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
    put:
      description: |
        Update services configuration for a given cluster

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/cluster/{clusterFQDN}/config/connectors":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
    put:
      description: |
        Update connectors configuration for a given cluster

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/cluster/{clusterFQDN}/tag/{tagName}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: tagName
        in: path
        required: true
        type: string
        description: Tag name
    put:
      description: Set a tag on a cluster
      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: tag
          required: true
          schema:
            "$ref": "#/definitions/TagValueModel"
      responses:
        200:
          description: OK
    delete:
      description: Delete a tag from a cluster
      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: OK

  "/cluster/{clusterFQDN}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
    get:
      description: Get a cluster
      tags:
        - Cluster
      produces:
        - application/json
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/ClusterModel"
        404:
          description: Cluster not found
    delete:
      description: Delete a cluster
      tags:
        - Cluster
      produces:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"
    put:
      description: Update a cluster
      tags:
        - Cluster
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: ClusterModel
          required: true
          schema:
            "$ref": "#/definitions/ClusterModel"
      responses:
        200:
          description: OK
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  # VPN services
  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/service":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Gets all VPN services
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnClusterServiceModel"
    post:
      description: Creates a VPN Service
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: service
          in: body
          schema:
            "$ref": "#/definitions/VpnServiceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/service/{uid}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Service ID
    put:
      description: Update a Service
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: service
          in: body
          schema:
            "$ref": "#/definitions/VpnServiceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a Service
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network routes
  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/route":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's routes
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnClusterRouteModel"

    post:
      description: Creates a VPN route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/route/{uid}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Route ID
    put:
      description: Update a VPN route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN route
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/dynamic/export-route":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's dynamic export routes
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnClusterRouteModel"

    post:
      description: Creates a VPN export route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/dynamic/export-route/{uid}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Route ID
    put:
      description: Update a VPN export route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN export route
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/dynamic/import-route":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's dynamic import routes
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnClusterRouteModel"

    post:
      description: Creates a VPN import route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/dynamic/import-route/{uid}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Route ID
    put:
      description: Update a VPN import route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN import route
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network interfaces
  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/interface":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's interfaces
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnClusterInterfaceModel"
    post:
      description: Create a VPN interface
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: iface
          in: body
          schema:
            "$ref": "#/definitions/VpnInterfaceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/interface/{interfaceName}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: interfaceName
        in: path
        required: true
        type: string
        description: Interface name
    put:
      description: Update a VPN interface
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: iface
          in: body
          schema:
            "$ref": "#/definitions/VpnInterfaceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN interface
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network dns
  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/dns":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnClusterDnsModel"
    post:
      description: Create a VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: dns
          in: body
          schema:
            "$ref": "#/definitions/VpnDnsUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    put:
      description: Update a VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: dns
          in: body
          schema:
            "$ref": "#/definitions/VpnDnsUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network wireguard
  "/v2/cluster/{clusterFQDN}/vpn/{networkName}/wireguard":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN WireGuard configuration
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnClusterWireguardModel"
    put:
      description: Update the VPN WireGuard configuration
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: wg
          in: body
          schema:
            "$ref": "#/definitions/VpnWireguardUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN WireGuard configuration
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN Network get/delete/updatecreate

  "/v2/cluster/{clusterFQDN}/vpn/{networkName}":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Returns information about a VPN network
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnClusterNetworkInventoryModel"
    put:
      description: Update a VPN network - this change is not staged and will immediately affect the node
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: network
          in: body
          schema:
            "$ref": "#/definitions/VpnNetworkUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Deletes a vpn network - this change is not staged and will immediately affect the node
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK

  "/v2/cluster/{clusterFQDN}/vpn":
    parameters:
      - "$ref": "#/parameters/clusterFQDN"
    get:
      description: Returns all the VPN networks
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/VpnClusterNetworkModel"
    post:
      description: Attach a VPN network
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: network
          in: body
          required: true
          schema:
            "$ref": "#/definitions/VpnNetworkUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnClusterNetworkInventoryModel"
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/node/license":
    parameters:
      - name: name
        in: query
        required: true
        type: string
        description: node name
    get:
      description: Get a license to register a node
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - text/plain
      responses:
        200:
          description: License body
          schema:
            type: string
        422:
          description: Validation error
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/node/{nodeID}/tag/{tagName}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: tagName
        in: path
        required: true
        type: string
        description: Tag name
    put:
      description: Set a tag on a node
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: tag
          required: true
          schema:
            "$ref": "#/definitions/TagValueModel"
      responses:
        200:
          description: OK
    delete:
      description: Delete a tag from a node
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        200:
          description: OK

  "/node/{nodeID}/lock":
    parameters:
      - "$ref": "#/parameters/nodeID"

  "/node/{nodeID}/trigger/{event}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: event
        in: path
        required: true
        type: string
    post:
      description: Trigger an event on a node
      tags:
        - Node
      produces:
        - application/json
      parameters:
        - name: wait
          in: query
          required: false
          type: string
          description: If present, the request will return the node's event output
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/cluster":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update cluster configuration for a given node

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/alert":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update alert configuration for a given node

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/snmp":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update SNMP configuration for a given node

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/ztnagw":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update ZTNA gateway configuration for a given node

        Note that this endpoint used to be `apigw`. The config section is still named `apigw`.
        ---

        "WireGuard" is a registered trademark of Jason A. Donenfeld.
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: ZTNA config
          schema:
            type: object
            example:
              enabled: true
              host: myztnahost.mycompany.com
              port: 9927
              cert: myztnahost.mycompany.com
              wireguardEnabled: true
              wireguardPort: 9926
              wireguardEndpoint: myztnahost.mycompany.com
            properties:
              enabled:
                type: boolean
                description: Enable this plugin
              host:
                type: string
                description: ZTNA gateway host
              port:
                type: number
                description: ZTNA gateway port
                minimum: 1
                maximum: 65535
              cert:
                type: string
                description: ZTNA gateway certificate (FQDN)
              wireguardEnabled:
                type: boolean
                description: Enable wireguard
              wireguardPort:
                type: number
                description: WireGuard port
                minimum: 1
                maximum: 65535
              wireguardEndpoint:
                type: string
                description: WireGuard endpoint
                format: hostname
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/network":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update network configuration for a given node

        ---

        Requires `node::configure:network` permissions
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Network Config
          schema:
            type: object
            properties:
              tunnels:
                type: array
                items:
                  type: object
                  required:
                    - name
                    - enabled
                    - mtu
                  properties:
                    name:
                      type: string
                    enabled:
                      type: boolean
                    description:
                      type: string
                    vrf:
                      type: string
                    ip:
                      type: string
                    mtu:
                      type: number
                      minimum: 1000
                      maximum: 10000
                    destination:
                      type: string
                    ike:
                      type: number
                      enum:
                        - 1
                        - 2
                    localId:
                      type: string
                    remoteId:
                      type: string
                    ikeCipher:
                      type: string
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                    ikeGroup:
                      type: number
                      enum:
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                    ipsecCipher:
                      type: string
                      enum:
                        - aes128-sha1
                        - aes128-sha256
                        - aes256-sha1
                        - aes256-sha256
                    pfs:
                      type: number
                      enum:
                        - 0
                        - 2
                        - 5
                        - 14
                        - 15
                        - 16
                    psk:
                      type: string
                    dpdInterval:
                      type: number
                    dpdRetries:
                      type: number
                    rekeyInterval:
                      type: number
                    replayWindow:
                      type: number
                      enum:
                        - 32
                        - 64
                        - 128
                        - 256
                        - 512
                        - 1024
                        - 2048
                        - 4096
                        - 8192
                    networkId:
                      type: string
                    type:
                      type: string
                      enum:
                        - ipsec
                        - gre
                        - vnet
                        - wireguard
                    publicKey:
                      type: string
                    presharedKey:
                      type: string
              interfaces:
                type: array
                items:
                  type: object
                  required:
                    - nic
                  properties:
                    subInterfaces:
                      type: array
                      items:
                        type: object
                        required:
                          - vlanID
                          - ip
                        properties:
                          vlanID:
                            type: number
                            description: VLAN ID
                            minimum: 1
                            maximum: 4094
                            default: 1
                            example: 1
                          description:
                            type: string
                            description: Interface description
                            example: My interface
                          vrf:
                            type: string
                            description: VRF name
                            example: default
                          ip:
                            type: string
                            description: sub-interface IP
                          routes:
                            type: array
                            items:
                              type: object
                              required:
                                - route
                              properties:
                                route:
                                  type: string
                                  description: Route CIDR
                                  example: 192.168.10.0/24
                                next:
                                  type: string
                                  description: Next hop
                                  example: 192.168.10.10
                                description:
                                  type: string
                                  description: Route description
                                  example: My route
                    nic:
                      type: string
                      description: Network interface name
                      example: eth0
                    dhcp:
                      type: boolean
                      description: Enable DHCP
                      default: false
                      example: false
                    description:
                      type: string
                      description: Interface description
                      example: My interface
                    virtual:
                      type: boolean
                      description: Whether the interface is virtual
                      default: false
                      example: false
                    vrf:
                      type: string
                      description: VRF name
                      example: default
                    mtu:
                      type: number
                      description: MTU
                      minimum: 1300
                      maximum: 9001
                      example: 1500
                    duplex:
                      type: string
                      description: Interface duplex
                      enum:
                        - full
                        - half
                    speed:
                      type: number
                      description: Interface speed
                    ip:
                      type: string
                      description: Interface IP
                    clusterIP:
                      type: string
                      description: Cluster IP
                    gateway:
                      type: string
                      description: Gateway IP
                    dhcpPool:
                      type: string
                      description: DHCP pool
                    dns:
                      type: array
                      items:
                        type: string
                        description: DNS servers
                    clusterRoutes:
                      type: array
                      items:
                        type: object
                        description: Cluster routes
                        required:
                          - route
                        properties:
                          route:
                            type: string
                            description: Route CIDR
                            example: 192.168.10.0/24
                          description:
                            type: string
                            description: Route description
                            example: My route
                    clusterRouteTables:
                      type: array
                      items:
                        type: string
                        description: Cluster route tables
                    cloudRoutes:
                      type: array
                      items:
                        type: object
                        properties:
                          route:
                            type: string
                            description: Route CIDR
                            example: 192.168.10.0/24
                          description:
                            type: string
                            description: Route description
                            example: My route
                    routes:
                      type: array
                      items:
                        type: object
                        required:
                          - route
                        properties:
                          route:
                            type: string
                            description: Route CIDR
                            example: 192.168.10.0/24
                          next:
                            type: string
                            description: Next hop
                            example: 192.168.10.10
                          description:
                            type: string
                            description: Route description
                            example: My route
                    mode:
                      type: string
                      description: Interface mode
                      enum:
                        - auto
                        - manual
              routes:
                type: array
                items:
                  type: object
                  required:
                    - dest
                  properties:
                    dest:
                      type: string
                    via:
                      type: string
                      description: Next hop IP address
                    dev:
                      type: string
                    metric:
                      type: number
                      minimum: 1
                      maximum: 200
                      description: Route metric
                    description:
                      type: string
              nats:
                type: array
                items:
                  type: object
                  properties:
                    source:
                      type: string
                      description: NAT source IP CIDR
                    dest:
                      type: string
                      description: NAT destination IP CIDR
                    toSource:
                      type: string
                      description: Translated source IP CIDR
                    toDest:
                      type: string
                      description: Translated dest IP CIDR
                    masquerade:
                      type: boolean
                    description:
                      type: string
                      description: NAT description
              acls:
                type: array
                items:
                  type: object
                  properties:
                    line:
                      type: number
                      minimum: 1
                      maximum: 32768
                      description: Line number
                    protocol:
                      type: string
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                    source:
                      type: string
                      description: Source IP CIDR
                    dest:
                      type: string
                      description: Destination IP CIDR
                    ports:
                      type: string
                      description: Port or port range
                    action:
                      type: string
                      enum:
                        - allow
                        - drop
                        - reject
                    description:
                      type: string
                  required:
                    - protocol
                    - source
                    - dest
                    - action
              rules:
                type: array
                items:
                  type: object
                  properties:
                    line:
                      type: number
                      minimum: 1
                      maximum: 32768
                      description: Rule number
                    protocol:
                      type: string
                      enum:
                        - any
                        - icmp
                        - tcp
                        - udp
                    in:
                      type: string
                    source:
                      type: string
                      description: Source IP CIDR or `public` or `private`
                    dest:
                      type: string
                      description: Destination IP CIDR or `public` or `private`
                    ports:
                      type: string
                      description: Port or port range
                    action:
                      type: string
                      enum:
                        - accept
                        - drop
                        - reject
                        - forward
                        - dnat
                    iface:
                      type: string
                      description: Interface name
                    vrf:
                      type: string
                      description: VRF name
                    snat:
                      type: boolean
                      description: Enable SNAT
                    dnat:
                      type: string
                      description: DNAT IP address
                    dmac:
                      type: string
                      description: DNAT MAC address
                    description:
                      type: string
                      description: Rule description
                  required:
                    - protocol
                    - source
                    - dest
                    - action
              vrfs:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: VRF name
                    description:
                      type: string
                      description: VRF description
                    forwarding:
                      type: boolean
                    routes:
                      type: array
                      items:
                        type: object
                        properties:
                          dest:
                            type: string
                            description: Route CIDR
                          via:
                            type: string
                            description: Next hop IP address
                          dev:
                            type: string
                            description: Device name
                          metric:
                            type: number
                            minimum: 1
                            maximum: 200
                            description: Route metric
                          description:
                            type: string
                            description: Route description
                            example: My route
                        required:
                          - dest
                    nats:
                      type: array
                      items:
                        type: object
                        properties:
                          source:
                            type: string
                            description: NAT source IP CIDR
                          dest:
                            type: string
                            description: NAT destination IP CIDR
                          toSource:
                            type: string
                            description: Translated source IP CIDR
                          toDest:
                            type: string
                            description: Translated dest IP CIDR
                          masquerade:
                            type: boolean
                            description: Enable masquerade
                          description:
                            type: string
                            description: NAT description
                    acls:
                      type: array
                      items:
                        type: object
                        properties:
                          line:
                            type: number
                            minimum: 1
                            maximum: 32768
                            description: Line number
                          protocol:
                            type: string
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                          source:
                            type: string
                            description: Source IP CIDR
                          dest:
                            type: string
                            description: Destination IP CIDR
                          ports:
                            type: string
                            description: Port or port range
                          action:
                            type: string
                            enum:
                              - allow
                              - drop
                              - reject
                          description:
                            type: string
                            description: ACL description
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                    rules:
                      type: array
                      items:
                        type: object
                        properties:
                          line:
                            type: number
                            minimum: 1
                            maximum: 32768
                            description: Rule number
                          protocol:
                            type: string
                            enum:
                              - any
                              - icmp
                              - tcp
                              - udp
                          in:
                            type: string
                          source:
                            type: string
                            description: Source IP CIDR or `public` or `private`
                          dest:
                            type: string
                            description: Destination IP CIDR or `public` or `private`
                          ports:
                            type: string
                            description: Port or port range
                          action:
                            type: string
                            enum:
                              - accept
                              - drop
                              - reject
                              - forward
                              - dnat
                          iface:
                            type: string
                            description: Interface name
                          vrf:
                            type: string
                            description: VRF name
                          snat:
                            type: boolean
                            description: Enable SNAT
                          dnat:
                            type: string
                            description: DNAT IP address
                          dmac:
                            type: string
                            description: DNAT MAC address
                          description:
                            type: string
                            description: Rule description
                        required:
                          - protocol
                          - source
                          - dest
                          - action
                  required:
                    - name
              darkMode:
                type: boolean
              forwarding:
                type: boolean
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/services":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update services configuration for a given node

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK

  "/node/{nodeID}/config/connectors":
    parameters:
      - "$ref": "#/parameters/nodeID"
    put:
      description: |
        Update connectors configuration for a given node

        ---

        Note: request body will be validated by JSON schema of the plugin
      tags:
        - Node
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: config
          in: body
          required: true
          description: Config body
          schema:
            type: object
      responses:
        200:
          description: OK

  "/v2/node/{nodeID}/plugin-logs/gateway-details":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: startDate
        in: query
        required: true
        type: number
        description: Unix timestamp
      - name: endDate
        in: query
        required: true
        type: number
        description: Unix timestamp
    get:
      tags:
        - Node
      description: |
        Get gateway connection telemetry logs for a given node
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              type: object
              properties:
                stats:
                  type: array
                  items:
                    type: object
                    properties:
                      maxRtt:
                        type: number
                        description: Max round-trip time measured for this interval
                      meanRtt:
                        type: number
                        description: Mean round-trip time measured for this interval
                      minRtt:
                        type: number
                        description: Min round-trip time measured for this interval
                      node:
                        type: string
                        description: Node RTT being measured
                      numRtt:
                        type: number
                        description: Number of RTTs measured for this interval
                      stdRtt:
                        type: number
                        description: Standard deviation of RTTs measured for this interval
                      time:
                        type: number
                        description: Unix timestamp, in milliseconds, of the start of the interval
                      hops:
                        type: array
                        description: Network hop telemetry, if available
                        items:
                          type: object
                          properties:
                            fqdn:
                              type: string
                            hop:
                              type: number
                            ip:
                              type: string
                            maxRtt:
                              type: number
                            meanRtt:
                              type: number
                            minRtt:
                              type: number
                            numRtt:
                              type: number

  # VPN services
  "/v2/node/{nodeID}/vpn/{networkName}/service":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Gets all VPN services
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnNodeServiceModel"
    post:
      description: Creates a VPN Service
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: service
          in: body
          schema:
            "$ref": "#/definitions/VpnServiceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/vpn/{networkName}/service/{uid}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Service ID
    put:
      description: Update a Service
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: service
          in: body
          schema:
            "$ref": "#/definitions/VpnServiceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a Service
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network routes
  "/v2/node/{nodeID}/vpn/{networkName}/route":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's routes
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnNodeRouteModel"

    post:
      description: Creates a VPN route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/vpn/{networkName}/route/{uid}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Route ID
    put:
      description: Update a VPN route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN route
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  "/v2/node/{nodeID}/vpn/{networkName}/dynamic/export-route":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's dynamic export routes
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnNodeRouteModel"

    post:
      description: Creates a VPN export route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/vpn/{networkName}/dynamic/export-route/{uid}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Route ID
    put:
      description: Update a VPN export route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN export route
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  "/v2/node/{nodeID}/vpn/{networkName}/dynamic/import-route":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's dynamic import routes
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnNodeRouteModel"

    post:
      description: Creates a VPN import route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/vpn/{networkName}/dynamic/import-route/{uid}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: uid
        in: path
        required: true
        type: string
        description: Route ID
    put:
      description: Update a VPN import route
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: route
          in: body
          schema:
            "$ref": "#/definitions/VpnRouteUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN import route
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network interfaces
  "/v2/node/{nodeID}/vpn/{networkName}/interface":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN's interfaces
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/VpnNodeInterfaceModel"
    post:
      description: Create a VPN interface
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: iface
          in: body
          schema:
            "$ref": "#/definitions/VpnInterfaceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/vpn/{networkName}/interface/{interfaceName}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
      - name: interfaceName
        in: path
        required: true
        type: string
        description: Interface name
    put:
      description: Update a VPN interface
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: iface
          in: body
          schema:
            "$ref": "#/definitions/VpnInterfaceUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN interface
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network dns
  "/v2/node/{nodeID}/vpn/{networkName}/dns":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnNodeDnsModel"
    post:
      description: Create a VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: dns
          in: body
          schema:
            "$ref": "#/definitions/VpnDnsUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    put:
      description: Update a VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: dns
          in: body
          schema:
            "$ref": "#/definitions/VpnDnsUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN Dns configuration
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  # VPN network wireguard
  "/v2/node/{nodeID}/vpn/{networkName}/wireguard":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Get All VPN WireGuard configuration
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnNodeWireguardModel"
    put:
      description: Update the VPN WireGuard configuration
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: wg
          in: body
          schema:
            "$ref": "#/definitions/VpnWireguardUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Delete a VPN WireGuard configuration
      produces:
        - application/json
      tags:
        - VPN Network
      consumes:
        - application/json
      responses:
        200:
          description: OK

  "/v2/node/{nodeID}/vpn/{networkName}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: networkName
        in: path
        required: true
        type: string
        description: Network name
    get:
      description: Returns information about a VPN network
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/VpnNodeNetworkInventoryModel"
    put:
      description: Update a VPN network - this change is not staged and will immediately affect the node
      produces:
        - application/json
      tags:
        - VPN Network
      parameters:
        - name: network
          in: body
          schema:
            "$ref": "#/definitions/VpnNetworkUpdateModel"
      consumes:
        - application/json
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"
    delete:
      description: Deletes a vpn network - this change is not staged and will immediately affect the node
      produces:
        - application/json
      tags:
        - VPN Network
      responses:
        200:
          description: OK

  "/v2/node/{nodeID}/kvm/machine":
    parameters:
      - "$ref": "#/parameters/nodeID"
    get:
      description: |
        List KVM machines

        ---

        Requires `node-kvm::read` permissions
      produces:
        - application/json
      tags:
        - Node
        - KVM
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              "$ref": "#/definitions/KVMMachine"
    post:
      description: |
        Create a KVM machines

        ---

        Requires `node-kvm::modify` permissions
      produces:
        - application/json
      consumes:
        - application/json
      tags:
        - Node
        - KVM
      parameters:
        - name: machine
          in: body
          required: true
          schema:
            "$ref": "#/definitions/KVMMachine"
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/kvm/machine/{id}":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: id
        in: path
        required: true
        type: string
        description: Machine UID
    get:
      description: |
        Get a KVM machine

        ---

        Requires `node-kvm::read` permissions
      produces:
        - application/json
      tags:
        - Node
        - KVM
      responses:
        200:
          description: OK
          schema:
            "$ref": "#/definitions/KVMMachine"
    delete:
      description: |
        Delete a KVM machine from a node

        ---

        Requires `node-kvm::modify` permissions
      produces:
        - application/json
      tags:
        - Node
        - KVM
      responses:
        200:
          description: OK
    put:
      description: |
        Update a KVM machine

        ---

        Requires `node-kvm::modify` permissions
      produces:
        - application/json
      consumes:
        - application/json
      tags:
        - Node
        - KVM
      parameters:
        - name: machine
          in: body
          required: true
          schema:
            "$ref": "#/definitions/KVMMachine"
      responses:
        200:
          description: OK
        422:
          description: Validation Failed
          schema:
            "$ref": "#/definitions/ValidationFailed"

  "/v2/node/{nodeID}/kvm/machine/{id}/config":
    parameters:
      - "$ref": "#/parameters/nodeID"
      - name: id
        in: path
        required: true
        type: string
        description: Machine UID
    put:
      description: |
        Update a KVM machine config

        ---

        Requires `node-kvm::modify` permissions
[...]
